*,::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0 100px;
    background-color: #ffeae0;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    
}
.logo{
    cursor: pointer;
}
.logo h1{
    font-weight: 600;
    font-size: 50px;
    font-family: sans-serif;
    color: black;
}
.logo b{
    color:orange;
}

.nav ul{
 display: flex;
 list-style: none;
}

.nav li{
    margin-right: 30px;
}

.nav ul li a{
    text-decoration: none;
    font-weight: 500;
    font-family: sans-serif;
    color: black;
    font-size: 18px;
}

/*  ACTIVE */
.nav ul .active::after{
    content: '';
    width: 50%;
    height: 3px;
    background-color:orange;
    display: flex;
    position: relative;
    margin-left: 10px;
}

ul li a:hover{
    font-size:larger;
    font-weight: 600;
    
}

/*  INPUT & BUTTON */

input{
    cursor: pointer;
    padding: 10px 20px;
    font-weight: 600;
}
.signup{
  background-color: orange;
  color:white;
  border-radius: 5px;
  outline: none;
  border: none;
}
.signin{
    background: transparent;
    border-style: none;
}

/*  Content text */

.content{
   display: grid;
   grid-template-columns: 50% auto;
   gap: 30px;
   margin-top: 120px;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}
/*  Content text left-side */

.content .content-left{
    display: block;
    width: 100%;
}
.content .content-left .info{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}
.content .content-left .info h2{
    font-size: 60px;
    font-family: sans-serif;
    margin-bottom: 30px;
}
.content .content-left .info p{
    font-family: sans-serif;
    margin-bottom: 20px;
}
/*  Content text button */
.explorefood{
    background-color: orange;
    color:white;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 20px;
}
/*  Content image */
img{
    background: fixed;
    height:auto;
    width: 400px;
    position: relative;
    animation: rotate 10s linear infinite;
}

/*  Content animation */
 @keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
 }

/*  CATEGORY LIST ITEMS */
#category{
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}
#category .list-items{
    width: 90%;
    position: relative;
    margin-top: 100px;
}
#category .list-items h3{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 70px;
    padding-bottom: 50px;
}
#category .list-items .card-lists{
display: grid;
grid-template-columns: repeat(4,1fr);
}
/*  CARD */
.card{
    width: 200px;
    height: 200px;
    display: block;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    background: #ffffff;
    outline: 2px solid #faad96;
    bottom: 50px;
    
}
.img1{
    width: 80px;
    height: auto;
    bottom: 160px;
    left: 60px;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    position: absolute;
    box-shadow: 0 20px 20px orange;
    border-radius: 50%;
}

.food-title h1{
    font-size: 20px;
    font-weight:bold;
    font-family: sans-serif;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 20px;
}
.desc-food p{
    font-family: sans-serif;
    text-align: center;
    font-size: 13px;
    font-weight: 500;

    
}
.price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-family: sans-serif;
    margin-top: 20px;
    
    
}
.price i{
  color: orange;
  font-size: 20px;
  cursor: pointer;
}
/*  SCROLL-BAR */

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: orange;

}
/* FOORTER*/
.footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    border-top:1px solid black ;
}
.address h1{
    margin-top: 10px;
}
.address p{
    margin-top: 8px;
    
}
.contact{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    
}
.contact i{
    margin-top: 8px;
    font-family: sans-serif;
}
.footer-button{
    height: 30px;
    width: 120px;
    margin-top: 20px;
    background-color: orange;
    color:white;
    border-radius: 5px;
    outline: none;
    border: none;
    font-weight: 600;
}
